<%@ Master Language="C#" AutoEventWireup="false" MasterPageFile="~/Default.master" %>

<asp:Content ID="headContent" ContentPlaceHolderID="head" runat="server">
    <%--<asp:ContentPlaceHolder ID="head" runat="server"></asp:ContentPlaceHolder>--%>
    <title>Samples - ASP.NET Google Maps Control</title>
    <meta name="description" content="Samples of ASP.NET Custom control to wrap Google Maps API" />
    <meta name="keywords" content="samples asp.net custom control google maps api" />
</asp:Content>

<asp:Content ID="headerContent" ContentPlaceHolderID="phheader" runat="server">
    <div id="header">
        <h1>
            <a href="/">ASP.NET GoogleMap Control</a>
        </h1>
        <ul id="menu">
            <li><a href="/map/default.aspx">maps</a></li>
            <li><a href="/markers/default.aspx">markers</a></li>
            <li><a href="/polygon/default.aspx">polygons</a></li>
            <li><a href="/polyline/default.aspx">polylines</a></li>
            <li><a href="/directions/default.aspx">directions</a></li>
        </ul>
    </div>
</asp:Content>

<asp:Content ID="teaserContent" ContentPlaceHolderID="phteaser" runat="server">
</asp:Content>

<asp:Content ID="mainContent" ContentPlaceHolderID="main" runat="server">
    <asp:ContentPlaceHolder ID="main" runat="server"></asp:ContentPlaceHolder>
</asp:Content>

<asp:Content ID="sideContent" ContentPlaceHolderID="side" runat="server">
    <asp:ContentPlaceHolder ID="side" runat="server"></asp:ContentPlaceHolder>
</asp:Content>
