<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="GoogleMapKey" value="AIzaSyBP3bAvWZVoylM-x6M9DnLJQXaaORsB_9I"/>
    </appSettings>
    <connectionStrings />
    <system.web>
        <compilation debug="true" targetFramework="4.0">
            <assemblies>
                <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
            </assemblies>
        </compilation>
        <authentication mode="Forms" />
        <pages clientIDMode="AutoID">
            <namespaces>
                <add namespace="Artem.GoogleMap.WebSite" />
                <add namespace="Artem.GoogleMap.WebSite.Models" />
            </namespaces>
            <controls>
                <add tagPrefix="artem" namespace="Velyo.Google.Maps" assembly="Velyo.Google.Maps"/>
            </controls>
        </pages>
    </system.web>
</configuration>