<?xml version="1.0"?>
<ArrayOfXmlUser xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <XmlUser>
    <UserKey>15b9dec4-cf17-4625-96d3-9b9d29e00be1</UserKey>
    <UserName>admin1</UserName>
    <Password>A6952D1DCEC24B8ECF3F98B7AFEDC0EFA68F6A94</Password>
    <PasswordSalt>J2oN3+OQnWU3Pde6TzvyeQ==</PasswordSalt>
    <CreationDate>2007-12-20T14:17:56.9962519+02:00</CreationDate>
    <LastActivityDate>2007-12-20T14:17:56.9962519+02:00</LastActivityDate>
    <LastLoginDate>0001-01-01T00:00:00</LastLoginDate>
    <LastPasswordChangeDate>2007-12-20T14:17:56.9962519+02:00</LastPasswordChangeDate>
  </XmlUser>
</ArrayOfXmlUser>