<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <httpHandlers>
            <add path="trace.axd" verb="*" type="System.Web.Handlers.TraceHandler" validate="true" />
            <add path="WebResource.axd" verb="GET" type="System.Web.Handlers.AssemblyResourceLoader" validate="true" />
            <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
            <add path="*.aspx" verb="*" type="System.Web.UI.PageHandlerFactory" validate="true" />
            <add path="*.ashx" verb="*" type="System.Web.UI.SimpleHandlerFactory" validate="true" />
            <add path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
            <add path="*" verb="GET,HEAD,POST" type="System.Web.DefaultHttpHandler" validate="true" />
            <add path="*" verb="*" type="System.Web.HttpMethodNotAllowedHandler" validate="true" />
        </httpHandlers>
    </system.web>
    <system.webServer>
        <handlers>
            <add name="Trace" path="trace.axd" verb="*" type="System.Web.Handlers.TraceHandler"/>
            <add name="WebResource" path="WebResource.axd" verb="GET" type="System.Web.Handlers.AssemblyResourceLoader"/>
            <add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
            <add name="PageHandler" path="*.aspx" verb="*" type="System.Web.UI.PageHandlerFactory"/>
            <add name="SimpleHandler" path="*.ashx" verb="*" type="System.Web.UI.SimpleHandlerFactory"/>
            <add name="ServiceHandler" path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
            <!--<add name="DefaultHandler" path="*" verb="GET,HEAD,POST" type="System.Web.DefaultHttpHandler"/>
            <add name="DefaultNotAllowedHandler" path="*" verb="*" type="System.Web.HttpMethodNotAllowedHandler"/>-->
        </handlers>
        <!--<modules runAllManagedModulesForAllRequests="true"></modules>
        <validation validateIntegratedModeConfiguration="false"/>-->
    </system.webServer>
</configuration>
