@{  
    Layout = "~/_SiteLayout.cshtml";
    Page.CssClass = "home";
    Page.Title = "Welcome to GoogleMap Control! - GoogleMap Control Website";
}
<h1>
    Welcome to GoogleMap Control!
</h1>
<p>
    This is the homepage of GoogleMap Control site.
    <br />
    Here you can find information about GooglMap Control and look at to get familiar
    with the control.
</p>
<p>
    First things first - You'll probably want to <a href="http://googlemap.codeplex.com/">
        check out project pages</a> under <a href="http://codeplex.com/">Codeplex</a>.
    <br />
    After that, you can&nbsp;download the <a href="http://googlemap.codeplex.com/releases">
        recent release</a>.
    <br />
    Once you have GoogleMap Control binaries, it's time to <a href="http://googlemap.codeplex.com/wikipage?title=Installation&amp;referringTitle=Documentation">
        install it in your ASP.NET website</a>.
</p>
<p>
    Finally, you can take a loot at the <a href="/demo">demo webpages</a> and <a href="http://artembg.com/Tags/GoogleMaps%20Control">
        how-to videos</a>.
</p>
<p>
    And last but not least, I am going to publish some <a href="http://www.nuget.org/List/Packages">
        NuGet packes</a> in order to automate the GoogleMap Controls setup and usage&nbsp;in
    your websites.<br />
    So, keep an eye on <a href="http://www.nuget.org/List/Packages">NuGet</a>.
</p>
<p>
    Thanks for using GoogleMap Control – Velio Ivanov
</p>
