<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Google Maps API key for demo.artembg.com -->
    <!-- Change this with your proper key -->
    <add key="GoogleMapKey" value="ABQIAAAAyWjvj4t-s3JAHKCxqTvdRBRUOoL5jeCxUcLYWEpv1-lnR3ABuxR-E0rBRImyn41cOYkfId9d_gYHKg"/>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms"/>
    <pages theme="Default" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="artem" namespace="Artem.Google.UI" assembly="Artem.Google"/>
        <!--<add tagPrefix="artem" namespace="Artem.Google" assembly="Artem.GoogleMap.Extensions"/>-->
        <add tagPrefix="ajax" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
      </controls>
    </pages>
  </system.web>
</configuration>